main section {
    padding: 40px 70px 0 70px;
}

main section h2 {
    font-size: 20px;
    text-decoration: underline;
    padding-bottom: 10px;
    text-transform: capitalize;
}

main section p {
    line-height: 130%;
}

main section ul {
    padding: 10px 0;
    margin-left: 30px;
}

main section li {
    padding: 2px;
    list-style-type: circle;
}

main section .second_layer_ul li {
    list-style-type: square;
}

main section img {
    max-height: 500px;
    border: solid 5px;
    margin-bottom: 10px;
}